
body{
    display:flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
}
.gameBoard{
    background-color: palevioletred;
    border-radius: 10px;
    height:500px;
    width:500px;
    padding:5px;
}
.cards, .card, .view{
    display:flex;
    align-items:center;
    justify-content:center;
}
.cards{
    height:100%;
    width: 100%;
    padding:1px;
    flex-wrap:wrap;
    justify-content: space-between;
}
.cards .card{
    cursor:pointer;
    height:calc(100%/4-10px);
    width:calc(100%/4-10px);
    
}
.cards .card .view{
    width:100%;
    height:100%;
    /* position:absolute; */
    border-radius: 10px;
    background: yellowgreen;
    border: purple;
    box-shadow: thistle;
}
.card .back-view img{
    max-width:100px;
    border:solid purple;
    border-radius: 10px;
}
.hidden{
    display: none;
    
}










/* MediaQueries */

@media (max-width:2150px){
    body{
        background-color:grey;

    }
}

/* Mid */
@media (max-width:900px){
    body{
        background-color:steelblue;
        color:yellow;
    }
}


/* Mobile */
@media (max-width:650px){
    body{
        background-color:lightblue;
        color:White;
    }
}

