@keyframes ship_attack {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes alien_attack {
    0%{
        transform: translateY(0px);
    }
    49%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0px);
    }
    }
}



body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.gamebox{
    height:300px;
    width: 90%;
    margin: 2em;
    border:solid black 2px;
    background-image: url('https://opengameart.org/sites/default/files/bg5.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ship{
    width:100px;
    border-radius: 50%;
}
.legend{
    border: solid blue;
    border-radius: 20px;
    margin:2em;
    height:22vh;
    width: 90%;
    background-color: gray;
    display:flex;
    justify-content: space-between;
}
.us{
    /* border:solid lime; */
    margin:1em;
    height:30px;
    display: flex;
    justify-content: center;
}
.them{
    /* border:solid orange; */
    margin:1em;
    height: 30px;
}
.alienContainer{
    display: flex;
    justify-content: space-around;
}
.alienItem{
    width: 40px;
    height: 40px;
}
.deadAlien{
    width: 40px;
    height: 40px
}
.score{
    border: solid yellow;
    border-radius: 20px;
    margin:1em;
    padding:1em;
    color:white;
}

.ship_attack_alien{
    animation: ship_attack 2s ease-in;
}
.alien_attack_ship{
    animation: alien_attack 4s ease-in;
}
.hidden{
    display:none;
}
.controller{
    /* border:solid black; */
    width: 80%;
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
}
.controller button{
    background-color: green;
    color:white;
    width:100px;
    height: 50px;
}
.controller button:hover{
    background-color: purple;
}